<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
<h2>Inicio de sesion</h2>



<li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      navegacion
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{%url 'index' %}">index</a></li>
      <li><a class="dropdown-item" href="{%url 'InicioDeSesion' %}">inicio de sesion</a></li>
      <li><a class="dropdown-item" href="{%url 'ListaUsuarios' %}">lista de usuarios</a></li>
      <li><a class="dropdown-item" href="{%url 'Perfil' %}">perfil</a></li>
      <li><a class="dropdown-item" href="{%url 'RegReservas' %}">registro de reservas</a></li>
      <li><a class="dropdown-item" href="{%url 'RegUsuario' %}">registro de usuarios</a></li>

    </ul>
  </li>







</body>
</html>